*{
	padding: 0;
	margin: 0;
}
body,.anmi{
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
}
.backstage{
	width: 100%;
	overflow: hidden;
}
.container{
	position: relative;
	-webkit-transition:all 1s ease;
	transition:all 1s ease;
	left: 0;
}
.header{
	position: relative;
	width: 100%;
	border-bottom: 1px solid #ccc;
}
.addAni{
	left: 260px;
}
.header .photo{
	width: 9%;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 2%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	background:url(../images/list.png) no-repeat; 
	background-size: 25px;
	background-position: center;
	cursor: pointer;
}
.photo-nav{
	width: 100%;
}
.header .title{
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 22px;
	font-weight: 700;
}
.sideNav{
	width: 260px;
	height: 100%;
	background: #fff;
	position: absolute;
	z-index: 99;
	left: -260px;
	border: 0;
	-webkit-transition:all 1s ease;
	transition:all 1s ease;
	text-align: left;
	box-shadow: inset -5px 0px 5px #ccc;
}
.reduAni{
	left: 0;
}


/*侧边栏*/
.side-a{
	width: 100%;
	padding-left: 70px!important;
	height: 80px!important;
	line-height: 80px!important;
	background: url(../images/user.png) no-repeat;
	background-size: 40px;
	background-position: 10px center;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	box-sizing:border-box;
}
.side-b{
	width: 100%;
	background: url(../images/job.png) no-repeat;
	background-size: 20px;
	background-position: 10px center;
}
.side-c{
	width: 100%;
	background: url(../images/setting.png) no-repeat;
	background-size: 20px;
	background-position: 10px center;
}
.side-d{
	width: 100%;
	background: url(../images/tip.png) no-repeat;
	background-size: 20px;
	background-position: 10px center;
}
.side-e{
	width: 100%;
	background: url(../images/view.png) no-repeat;
	background-size: 20px;
	background-position: 10px center;
}
.side{
	padding-left: 45px;
	height: 50px;
	line-height: 50px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	box-sizing:border-box;
}
ul{
	list-style: none;
}
.sideNav li{
	background: #d9d9d9;
	line-height: 35px;
	margin-bottom: 10px;
	font-size: 12px;
	text-align: center;
}
.sideNav ul{
	display: none;
}
/*首页动态显示的信息*/
.thead{
	margin-top: 20px;
	padding-left: 20px;
	border-bottom: 1px solid #ddd;
	height: 29px;
	box-sizing:border-box;
}
.thead ul{
	overflow: hidden;
}
.thead li{
	float: left;
	box-sizing:border-box;
	border: 1px solid #ccc;
	text-align: center;
	outline: none;
	margin-right: 5px;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	width: 50px;
	box-shadow: 2px 0 2px #ddd;
	font-weight: 500;

}
.op-container{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .7;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
.op-cre{
	display: block;
	width: 70%;
	border:1px solid #ccc;
	box-shadow: 0px 0px 4px #ccc;
	position: fixed;
	top: 20%;
	left: 15%;
}
.op-input{
	width: 100%;
}
input{
	outline: 0;
}
.op-input input{
	width: 86%;
	margin: 0 auto;
	margin-top: 20px;
	-webkit-box-sizing:border-box;
	height: 44px;
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	background: #fff;
	font-size: 16px;
	color: #252525;
	display: block;
	padding-left: 20px;
}
.op-input.push{
	margin-top: 30px;
	cursor: pointer;
	color: #fff;
	margin-bottom: 30px;
}
.data-push{
	background: #e2e2e2!important;
	padding-left: 0!important;
	font-size: 16px;
	font-weight: 700;
}
/*可见显示区域css*/
table{ 
	border-collapse:collapse;
}
.kth table{
	width: 100%;
}
.kth{
	width: 100%;
	min-width:320px; 
	margin: 0 auto;
	box-sizing:border-box;
	font-size: 14px;
	margin-top: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display:flex;
}
.kth tr{
	display: -webkit-box;
	display: -webkit-flex;
	display:flex;
}
.kth tr .f1{
	width: 31px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #ccc;
	box-sizing:border-box;
}
.kth tr .ff{
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #ccc;
	box-sizing:border-box;
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
}
.k-left{
	-webkit-box-flex:13;
	-webkit-flex:13;
	flex:13;
}
.k-right{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	height: 30px;
	border: 1px solid #ccc;
}