*{
	padding: 0;
	margin: 0;
}
body,.anmi{
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
}
.backstage{
	width: 100%;
	overflow: hidden;
}
.container{
	position: relative;
	-webkit-transition:all 1s ease;
	transition:all 1s ease;
	left: 0;
}
.header{
	position: relative;
	width: 100%;
	border-bottom: 1px solid #ccc;
}
.addAni{
	left: 260px;
}
.header .photo{
	width: 9%;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 2%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	background:url(../images/list.png) no-repeat; 
	background-size: 25px;
	background-position: center;
	cursor: pointer;
}
.photo-nav{
	width: 100%;
}
.header .title{
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 22px;
	font-weight: 700;
}
.sideNav{
	width: 260px;
	height: 100%;
	background: #fff;
	position: absolute;
	z-index: 99;
	left: -260px;
	border: 0;
	-webkit-transition:all 1s ease;
	transition:all 1s ease;
	text-align: left;
	box-shadow: inset -5px 0px 5px #ccc;
}
.reduAni{
	left: 0;
}


/*侧边栏*/
.side-a{
	width: 100%;
	padding-left: 70px!important;
	height: 80px!important;
	line-height: 80px!important;
	background: url(../images/user.png) no-repeat;
	background-size: 40px;
	background-position: 10px center;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	box-sizing:border-box;
}
.side-b{
	width: 100%;
	background: url(../images/job.png) no-repeat;
	background-size: 20px;
	background-position: 10px center;
}
.side-c{
	width: 100%;
	background: url(../images/setting.png) no-repeat;
	background-size: 20px;
	background-position: 10px center;
}
.side-d{
	width: 100%;
	background: url(../images/setting.png) no-repeat;
	background-size: 20px;
	background-position: 10px center;
}
.side{
	padding-left: 45px;
	height: 50px;
	line-height: 50px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	box-sizing:border-box;
}
ul{
	list-style: none;
}
.sideNav li{
	background: #d9d9d9;
	line-height: 35px;
	margin-bottom: 10px;
	font-size: 12px;
	text-align: center;
}
.sideNav ul{
	display: none;
}